.other-solutions-section {
  position: relative;

  @include media-breakpoint-down(sm) {
    max-width: 100%;
    margin-top: 40px;
    padding-bottom: calcPercent(143, 667) + vh;
  }

  @include media-breakpoint-up(md) {
    margin-top: calcPercent(80, 1920) + vw;

    .slider {
      &-container {
        width: calcPercent(1158, 1920) + vw;
      }

      &-wrapper {
        align-items: flex-end;
      }

      &-slide {
        &:not(.slider-slide--active) {
          opacity: 0.72;

          .circle-block--cerulean {
            max-height: 0;
            overflow: hidden;
          }
        }

        &--active {
          animation: fadeIn 1s cubic-bezier(0.445, 0.05, 0.55, 0.95) forwards;
          will-change: animation;
        }
      }
    }
  }

  .cards {
    position: relative;
    background-color: $color-white;
    box-shadow: 0 0 5px 0 rgba($color-black, 0.12);
    border-radius: 10.5px;
    padding: 13px 27px 40px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .circle-block--cerulean {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 12px;

      @include media-breakpoint-up(md) {
        margin-bottom: 1.25vw;
      }

      img {
        max-width: 50%;
      }
    }

    @include media-breakpoint-up(md) {
      border-radius: 0;
      min-height: calcPercent(429, 1080) + vh;
      padding: 1rem vw(50, 1920) vw(25, 1920);
    }

    [class*="circle-block"] {
      + * {
        margin-top: 24px;
      }
    }

    &-title {
      font-family: $FontFamilySansSerif;
      font-size: 18px;
      font-weight: 600;
      line-height: 1.09;
      letter-spacing: 0.18px;
      color: $color-cerulean;
      text-align: center;

      @include media-breakpoint-up(md) {
        font-size: vw(16,1280);
        line-height: 1.2;
      }

      @include media-breakpoint-up(md) {
        font-size: vw(22,1920);
      }

      + * {
        margin-top: 12px;

        @include media-breakpoint-up(md) {
          margin-top: 1.5vw;
        }
      }
    }

    &-description {
      font-family: $FontFamilySansSerif;
      font-size: 12px;
      font-weight: 300;
      line-height: 1.2;
      letter-spacing: 0.43px;
      text-align: center;
      color: $color-slate;

      @include media-breakpoint-up(md) {
        font-size: vw(10,1280);
      }

      @include media-breakpoint-up(xl) {
        font-size: vw(12,1920);
      }

      + * {
        margin-top: 12px;

        @include media-breakpoint-up(md) {
          margin-top: 1.5vw;
        }
      }
    }
  }

  .title--light {
    position: absolute;
    left: 0;
    bottom: calcPercent(143, 667) + vh;

    @include media-breakpoint-down(sm) {
      font-size: vw(31,375);


      small {
        display: inline-block;
        font-size: inherit
      }
    }

    @include media-breakpoint-up(md) {
      bottom: 0;
    }
  }

  .main-title {
    @include media-breakpoint-down(sm) {
      font-weight: 600;
      b {
        display: inline-block;
      }
    }
  }
}
