.start-project-section {
    .project-area {
        @include media-breakpoint-up(md) {
            $val: calcPercent(1164,1920) + vw;
            flex: 0 0 $val;
            max-width: $val;

            .main-description {
                max-width: calcPercent(752,1164) * 1%;
                margin: 0 auto;
            }
        }
    }
}