@include media-breakpoint-down(sm) {
  .header {
    &:not(.is-shown) {
      .header {
        &-menu {
          &__item {
            opacity: 0;
            visibility: hidden;
            z-index: -1;
          }
        }
      }
    }

    &.is-shown {
      .header {
        &-menu {
          &__item {
            @for $i from 1 to 6 {
              &:nth-child(#{$i}) {
                transition-delay: $i * 250ms;
              }
            }
          }
        }
      }
    }
  }
}

$rightPathOtelbitsWidth: 595.06103515625;
$leftPathOtelbitsWidth: 512.0321655273438;
$b2bPathStartWidth: 66;
$b2bPathTopWidth: 231.9432830810547;
$b2bPathBottomWidth: 231.94174194335938;
$fomPathWidth: 813.947509765625;

$scLineWidth: 466;
$scPathLeftTopWidth: 338.9432678222656;
$scPathLeftBottomWidth: 465.9416809082031;
$scPathRightTopWidth: 338.94366455078125;
$scPathRightBottomWidth: 465.94366455078125;
$scPathOffWidth: 778.1371459960938;

@include makePathKeyframe(
  path1Anim,
  $leftPathOtelbitsWidth,
  $leftPathOtelbitsWidth * 2
);

@include makePathKeyframe(path2Anim, $rightPathOtelbitsWidth, 0);

@include makePathKeyframe(line1draw, 264, 264 * 2);

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInTop {
  from {
    opacity: 0;
    top: 20px;
  }

  to {
    opacity: 1;
    top: 0;
  }
}

@keyframes fadeInBottom {
  from {
    opacity: 0;
    top: -20px;
  }

  to {
    opacity: 1;
    top: 0;
  }
}

@include makePathKeyframe(pathStartAnim, $b2bPathStartWidth, 0);

@include makePathKeyframe(pathTopAnim, $b2bPathTopWidth, $b2bPathTopWidth * 2);

@include makePathKeyframe(
  pathBottomAnim,
  $b2bPathBottomWidth,
  $b2bPathBottomWidth * 2
);

@include makePathKeyframe(pathFOMAnim, $fomPathWidth, 0);

@include makePathKeyframe(scPathLeftTopAnim, $scPathLeftTopWidth, 0);

@include makePathKeyframe(scPathTopAnim, $scPathRightTopWidth, 0);

@include makePathKeyframe(scLineAnim, $scLineWidth, 0);

@include makePathKeyframe(
  scPathLeftBottomAnim,
  $scPathRightBottomWidth,
  $scPathRightBottomWidth * 2
);

@include makePathKeyframe(
  scPathRightBottomAnim,
  $scPathRightBottomWidth,
  $scPathRightBottomWidth * 2
);

@include makePathKeyframe(scPathOffAnim, $scPathOffWidth, $scPathOffWidth * 2);

@keyframes bottomToTop {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#otelbitsPath-left {
  @include pathAnimationProps(
    $leftPathOtelbitsWidth,
    $leftPathOtelbitsWidth,
    path1Anim,
    1s,
    1s
  );
}

#otelbitsPath-right {
  @include pathAnimationProps(
    $rightPathOtelbitsWidth,
    $rightPathOtelbitsWidth,
    path2Anim,
    1s,
    1s
  );
}

#otelbitsLine-1,
#otelbitsLine-2 {
  @include pathAnimationProps(264, 264, line1draw, 1s, 1s);
}

#svgOtelBitsB2B {
  #pathStart {
    @include pathAnimationProps(
      $b2bPathStartWidth,
      $b2bPathStartWidth,
      pathStartAnim,
      500ms,
      1s
    );
  }

  #pathTop {
    @include pathAnimationProps(
      $b2bPathTopWidth,
      $b2bPathTopWidth,
      pathTopAnim,
      1s,
      1.5s
    );
  }

  #pathBottom {
    @include pathAnimationProps(
      $b2bPathBottomWidth,
      $b2bPathBottomWidth,
      pathBottomAnim,
      1s,
      1.5s
    );
  }
}

#svgOtelbitsFOM #pathFOM {
  @include pathAnimationProps(
    $fomPathWidth,
    $fomPathWidth,
    pathFOMAnim,
    2s,
    1s
  );
}

#svgSalesChannelsPath #pathLeftTop {
  @include pathAnimationProps(
    $scPathLeftTopWidth,
    $scPathLeftTopWidth,
    scPathLeftTopAnim,
    1.25s,
    1s
  );
}

#svgSalesChannelsPath #pathRightTop {
  @include pathAnimationProps(
    $scPathRightTopWidth,
    $scPathRightTopWidth,
    scPathTopAnim,
    1.25s,
    1s
  );
}

#svgSalesChannelsPath #pathLine {
  @include pathAnimationProps($scLineWidth, $scLineWidth, scLineAnim, 2s, 1.5s);
}

#svgSalesChannelsPath #pathLeftBottom {
  @include pathAnimationProps(
    $scPathRightBottomWidth,
    $scPathRightBottomWidth,
    scPathLeftBottomAnim,
    1s,
    2.5s
  );
}

#svgSalesChannelsPath #pathRightBottom {
  @include pathAnimationProps(
    $scPathRightBottomWidth,
    $scPathRightBottomWidth,
    scPathRightBottomAnim,
    1s,
    2.5s
  );
}

#svgSalesChannelsPath #pathOff {
  @include pathAnimationProps(
    $scPathOffWidth,
    $scPathOffWidth,
    scPathOffAnim,
    2s,
    2s
  );
}

.otelbits-section {
  .cards {
    opacity: 0;
    will-change: opacity;
    animation: fadeIn 200ms ease-in forwards;
  }

  .online-marketing-management {
    .cards {
      &:nth-child(1) {
        animation-delay: 500ms;
      }

      &:nth-child(2) {
        animation-delay: 2s;
      }

      &:nth-child(3) {
        animation-delay: 1.65s;
      }

      &:nth-child(4) {
        animation-delay: 1.65s;
      }

      &:nth-child(5) {
        animation-delay: 2s;
      }
    }
  }

  .b2b {
    .cards {
      &:nth-child(1) {
        animation-delay: 500ms;
      }

      &:nth-child(2) {
        animation-delay: 2.5s;
      }

      &:nth-child(3) {
        animation-delay: 2.5s;
      }
    }
  }

  .finance-operation-management {
    .cards {
      &:nth-child(1) {
        animation-delay: 500ms;
      }

      &:nth-child(2) {
        animation-delay: 2.25s;
      }

      &:nth-child(3) {
        animation-name: fadeInTop;
        animation-duration: 500ms;
        animation-delay: 2.75s;
      }

      &:nth-child(4) {
        animation-name: fadeInBottom;
        animation-duration: 500ms;
        animation-delay: 2.85s;
      }
    }

    .hotel-system {
      &-block {
        opacity: 0;
        will-change: opacity;
        animation: fadeIn 200ms ease-in forwards;
        animation-delay: 3s;

        .cards-title {
          opacity: 0;
          will-change: opacity;
          animation: bottomToTop $duration ease-in forwards;
          animation-delay: 3.25s;
        }
      }
    }
  }

  .sales-channels {
    .cards {
      &:nth-child(1) {
        animation-delay: 1s;
      }

      &:nth-child(2),
      &:nth-child(3) {
        animation-delay: 2s;
      }

      &:nth-child(4) {
        animation-delay: 2.5s;
      }

      &:nth-child(5) {
        animation-delay: 3.5s;
      }
    }
  }
}

@include makeKeyframe(bottomToTopAnim) {
  from {
    opacity: 0;
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.other-solutions-section {
  .slider-slide {
    &--active {
      .cards > * {
        @for $i from 2 to 5 {
          &:nth-child(#{$i}) {
            opacity: 0;
            animation: bottomToTopAnim 500ms linear forwards;
            animation-delay: $i * 0.25s;
          }
        }
      }
    }
  }
}
