@include media-breakpoint-down(sm) {
  .header {
    &:not(.is-shown) {
      .header {
        &-menu {
          &__item {
            opacity: 0;
            visibility: hidden;
            z-index: -1;
          }
        }
      }
    }

    &.is-shown {
      .header {
        &-menu {
          &__item {
            @for $i from 1 to 6 {
              &:nth-child(#{$i}) {
                transition-delay: $i * 250ms;
              }
            }
          }
        }
      }
    }
  }
}

#otelbitsPath-1 {
  stroke-width: 1;
  stroke-dasharray: 1107.0335693359375;
  stroke-dashoffset: 1107.0335693359375;
  animation: draw 3s linear alternate forwards;
  animation-delay: 1s;
}


@keyframes draw {
  from {
    stroke-dashoffset: 1107.0335693359375;
  }
  to {
    stroke-dashoffset: 0;
  }
}

#otelbitsLine-1,#otelbitsLine-2 {
  stroke-dasharray: 264;
  stroke-dashoffset: 264;
  animation: line1draw 1s ease-in alternate forwards;
  animation-delay: 1.85s;
}

@keyframes line1draw {
  from {
    stroke-dashoffset: 264;
  }
  to {
    stroke-dashoffset: 528;
  }
}

#otelbitsLine-2 {
  animation-delay: 2.6s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.otelbits-section {
  .cards {
    opacity: 0;
    will-change: opacity;
    animation: fadeIn 200ms ease-in forwards;

    &:nth-child(2) {
      animation-delay: 2.45s
    }

    &:nth-child(3) {
      animation-delay: 3.2s
    }

    &:nth-child(4) {
      animation-delay: 3.4s
    }
  }
}
