.btn {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2;
  padding: 12px 36px;
  box-shadow: 0 2px 4px rgba($color-black, 0.25);
  transition: background-color $duration ease-in, color $duration ease-in,
    opacity $duration ease-in;
  will-change: background-color, color, opacity;
  z-index: 102;
  cursor: pointer;

  &:hover {
    // transform: translateX(5%);
  }

  @include media-breakpoint-up(md) {
    font-size: vw(12, 1280);
    padding: 0.75vw 2vw;
  }

  @include media-breakpoint-up(xl) {
    font-size: vw(16, 1920);
  }

  &--transparent {
    background-color: transparent;
  }

  &--cerulean {
    color: $color-cerulean;

    &:hover {
      background-color: $color-cerulean;
      color: $color-white;
    }
  }

  &--bordered {
    border: 1px solid;
    border-color: inherit;

    &-cerulean {
      @extend .btn--bordered;
      border-color: $color-cerulean;
    }
  }

  &--primary {
    border: 1px solid $color-cerulean;
    background-color: transparent;
    color: $color-cerulean;

    font-size: 12px;
    border-radius: 3px;
    line-height: 1.2;
    padding: 0.5rem 1.5rem;

    @include media-breakpoint-up(md) {
      font-size: vw(20, 1920);
      border-radius: 5px;
      padding: 0.75rem 2.75rem;
    }

    @include media-breakpoint-up(xl) {
      font-size: vw(15.33, 1920);
      padding: 0.75rem 2.75rem;
    }

    &:hover {
      color: $color-cerulean;
      box-shadow: 0 5px 11px 0 rgba($color-black, 0.18),
        0 4px 15px 0 rgba($color-black, 0.15);
    }

    &-revert {
      @extend .btn--primary;

      @include media-breakpoint-up(xl) {
        background-color: $color-cerulean;
        color: $white;

        &:hover {
          color: $color-cerulean;
          border: 1px solid $color-cerulean;
          background-color: $color-white;
        }
      }
    }
  }

  &--secondary {
    background-color: $color-cerulean;
    color: $color-white;

    @include media-breakpoint-down(sm) {
      background-color: $color-white;
      color: $color-cerulean;
      border-color: $color-cerulean;
      border-radius: 15px;

      padding: 1rem 4rem;
    }

    &:hover {
      background-color: $color-white;
      color: $color-cerulean;
      border: 1px solid $color-cerulean;
    }

    @include media-breakpoint-up(md) {
      padding: 0.625vw 3.315vw;
    }
  }
}

#btnBackToTop {
  display: none;
  position: fixed;
  bottom: 24px;
  right: 24px;
  width: 52px;
  height: 52px;
  cursor: pointer;
  z-index: 999;

  background-image: linear-gradient(
    to bottom,
    rgba($color-cerulean, 0.25),
    rgba($color-cerulean, 0.85)
  );

  border-radius: 100%;

  &::before {
    content: "\f077";
    font-family: "Font Awesome 5 Pro";
    font-weight: 300;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: $color-white;
    font-size: 175%;
    line-height: 1;
  }

  @include media-breakpoint-up(xl) {
    width: vw(48, 1920);
    height: vw(48, 1920);
  }
}
