.hero-section {
  position: relative;

  @include media-breakpoint-up(xl) {
    margin-top: 2rem;
  }

  .row {
    justify-content: center;
    text-align: center;

    > *:first-child {
      @include media-breakpoint-down(md) {
        + * {
          margin-top: 5rem;
        }
      }

      @include media-breakpoint-up(xl) {
        margin-left: auto;
        margin-right: auto;
        // margin-bottom: calcPercent(207, 1920) + vw;
      }
    }

    @include media-breakpoint-up(xl) {
      justify-content: start;
      align-items: center;
      text-align: left;
    }
  }

  .video-div {
    background-color: $color-white;

    video {
      object-fit: contain;
    }

    @include media-breakpoint-up(xl) {
      position: absolute;
      top: 5.2%;
      left: 5.5%;
      width: 88.8%;
      height: 24.45vw;
      overflow: hidden;
    }
  }
}
